:root {
    --black: #000;
    --white: #fff;
    --red-accent: #ff3241;
    --black-accent: #1b1e21;
    --white-trans: rgba(255, 255, 255, 0.7);
  }

  body {
    background-color: var(--black);
    overflow-x: hidden;
  }

  /* Scrollbar */

  ::-webkit-scrollbar {
    width: 6px;
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--red-accent);
    border-radius: 10px;
  }

  /* Navbar */
  .contact-bar-left .contact-bar-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
  }

  .contact-bar-subtitle {
    font-size: 12px;
    font-weight: normal;
    color: var(--white-trans);
  }

  .contact-bar-right .icon {
    display: flex;
    align-items: flex-end;
    color: var(--white-trans);
    margin-left: 30px;
    text-decoration: none;
  }

  .contact-bar-right .icon:hover {
    color: var(--red-accent);
  }

  .contact-bar-social {
    font-size: 12px;
    font-weight: bold;
    color: var(--white-trans);
  }

  /* Hero Section */
.hero-container {
  margin-top: 100px;
}

.hero-left {
  padding-right: 15px !important;
}

.hero-left .p-small-header {
  font-weight: bold;
  font-size: 24px;
  color: var(--white-trans);
}

.hero-left h1 {
  font-size: 72px;
  color: var(--white);
  font-weight: bold;
}

.hero-left .updated {
  text-decoration: none;
  font-size: 28px;
  margin: 24px 0px 32px 0px;
  color: var(--red-accent);
  line-height: 43px;
}

.hero-left .p-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--red-accent);
  transition: text-decoration 2s;
}

.hero-left .p-link:hover {
  text-decoration: underline;
}

.hero-left .a-big {
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  color: var(--red-accent);
}

.hero-left .a-big:hover {
  text-decoration: underline;
}

.hero-right {
  padding: 15px !important;
}

.hero-right .img {
  width: 80%;
  border-radius: 10px;
}

/* Card Shortcuts */
.shortcuts-card-row .shortcuts-card-right{
  margin-top: 30px;
}

.shortcuts-card-right .card{
  border-radius: 20px;
  background-color: var(--black-accent);
  color: var(--white);
}